fastapi
uvicorn
redis
groq
pydantic
python-dotenv
requests
redis
langchain-community
langchain-groq
langchain_core
transformers>=4.39.0
langchain-chroma
langchain_huggingface
sentence-transformers>=2.6.0
torch
torchvision
torchaudio
google-cloud-firestore
beautifulsoup4
flask
langdetect
google-cloud-aiplatform
google-cloud-storage
faiss-cpu
flask_cors